
<div class="container center col-md-4 col-lg-5">
    <h4 class="mb-3" style="padding-top: 30px">Describe your dream...</h4>

    <form method="POST" action="">
        <div class="form-group">
            <label for="title"><b>TITLE</b></label>
            <input class="form-control" name="title" placeholder="Give your dream a title ..." value=""></input>
        </div>

        <hr class="dashed">

        <div class="form-group">
            <label for="date"><b>DATE</b></label>
            <input type="date" class="form-control" name="date" value=""></input>
        </div>

        <hr class="dashed">

        <div>
            <b>EMOTIONS</b> <br>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="emotions" value="positive" />
            <label class="form-check-label" for="positive">Positive</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="emotions" value="negative" />
            <label class="form-check-label" for="negative">Negative</label>
            </div>
        </div>

        <hr class="dashed">

        <div>
            <b>COLORFULNESS</b> <br>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="colorfulness" value="colorful" />
            <label class="form-check-label" for="colorful">Colorful</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="colorfulness" value="colorless" />
            <label class="form-check-label" for="colorless">Colorless</label>
            </div>
        </div>

        <hr class="dashed">

        <div class="form-outline">
            <label class="form-label" for="narration"><b>NARRATION</b></label>
            <textarea class="form-control" rows="4" name="narration" placeholder="Describe your dream ..." value=""></textarea>
        </div>

        <br>

        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Add Dream">Add Dream</button>
    </form>

</div>