
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}

<main class="form-signin w-100 m-auto">
	<form method="POST" action="login/local">
		<h1 class="h3 mb-3 fw-normal" style="text-align: center">Please sign in ...</h1>
		<div class="form-floating">
			<input type="text" class="form-control" name="username" value="" placeholder="Username">
			<label for="username">Username</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" name="password" value="" placeholder="Password">
			<label for="password">Password</label>
		</div>
		<button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Sign In</button>
	</form>
</main>


<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="mb-4">
			<hr data-content="OR" class="hr-text">
		</div>
	</div>
</div>


<main class="form-signin w-100 m-auto" style="text-align: center">
	<a class="w-100 btn btn-lg btn-primary google" href="/login/federated/google">Login with Google</a>
	Do not have an account? <a href="/signup">Sign up </a>
</main>

